*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: #CE2D4F;
    --bg: #121213;
    --card: #112533;
    --text: #ffe9e9;
    --subtleborder: #0f488a;
    --accent: #3cc1ff;
    --cardshadow : #141414;
    --darktext : #161616;
    --inputbg : #03101d;
}

.correct-guess {
    --primary-color: #84f09f;
    --bg: #101a0e;
    --card: #081a0c;
    --text: #e4ffe5;
    --subtleborder: #0b4b0b;
    --accent: #60dd6e;
    --cardshadow : #2a4626;
    --darktext : #161616;
    --inputbg : #031d03;
    
}

.incorrect-guess {
    --primary-color: #f08484;
    --bg: #140b0b;
    --card: #221616;
    --text: #e4ffe5;
    --subtleborder: #300909;
    --accent: #e46b6b;
    --cardshadow : #2c0404;
    --darktext : #161616;
    --inputbg : #1d0303;
    
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
}

.gamecontainer {
    border: 2px solid var(--subtleborder);
    /* border-color: #8a0f34; */
    padding: 2.5rem;
    border-radius: 1.2rem;
    background-color: var(--card);
    box-shadow: 0px 0px 25px 10px var(--cardshadow);
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* animation: correctguess 0.25s ease-in-out 0.5s; */

}

.gamecontainer h2 {
    font-size: 1.7rem;
}

.gamecontainer h2 span {
    font-weight: bolder;
    color: var(--accent);
}

.gamecontainer .info {
    /* border: 2px solid red; */
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    justify-content: center;
}

.gamecontainer .info strong {
    color: var(--accent);
}

.gamecontainer input {
    background: none;
    border: none;
    border: 1px solid var(--text);
    text-align: center;
    width: 85%;
    height: 2.5rem;
    border-radius: 1.1rem;
    padding: 1rem;
    color: var(--text);
    margin: 0.9rem;
    background: var(--inputbg);
}

.gamecontainer input:focus{
    border-color: var(--accent);
}

.gamecontainer #worddisplay {
    color: var(--accent);
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 25%;
    /* border: 2px solid red; */
}

#checkbtn {
    width: 75%;
    background: none;
    border: none;
    height: 1.8rem;
    background-color: var(--accent);
    color: var(--darktext);
    cursor: pointer;
    margin-top: 1.3rem;
    border-radius: 1.1rem;
    height: 2.4rem;
    font-size: 1.2rem;
    transition: all 0.1s ease;
}

#checkbtn:hover {
    opacity: 0.8;
    width: 80%;
}

#checkbtn:active{
    opacity: 1.2;
}

#hintbtn {
    cursor: pointer;
    background: none;
    border: none;
    width: 25%;
    height: 2.2rem;
    transition: all 0.1s ease-in-out;
    color: var(--text);
    margin-top: 1.2rem;
}

#hintbtn:hover{
    /* font-size: 1.1rem; */
    /* border-bottom: 2px solid var(--text); */
    text-shadow: 0px 0px 10px var(--text);
}

#hintbtn:active{
    color: var(--accent);
    text-shadow: 0px 0px 10px var(--accent);
}

#message {
    /* border: 2px solid red; */
    padding: 1.1rem;
    font-size: 1.2rem;
    /* text-shadow: 0px 0px 20px red; */
}

#hint-text {
    color: var(--accent);
    /* opacity: 0.7; */
    text-shadow: 0px 0px 15px var(--accent);
    padding: 1.1rem;
    /* display: none; */
}

#worddisplay {
    /* font-size: larger; */
}


@keyframes wrongguess{
    0%{
        transform: translateY(-20px);
    }    
    
    50%{
        transform: translateY(+20px);
    }

    100%{
        transform: translateY(0px);
    }    

}

@keyframes correctguess {
    0%{
        transform: scale(1);
        transform: translateX(0px);
    }
    
    25%{
        transform: scale(1.5);
        transform: translateX(20px);
    }

    50%{
        transform: scale(1);
        transform: translateX(0px);
    }

    100%{
        transform: scale(1);
        transform: translateX(0px);
    }
    
}

.wrongguessanimation {
    animation: wrongguess 0.15s ease-in-out;
}

.correctguessanimation {
    animation: correctguess 0.15s ease-in-out;
}
